*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/libs/
app/src/main/res/drawable/
freeutils/libs/
freeutils/src/main/res/drawable/
/.idea/
/.gradle/
/app/build/
/freeutils/build/
